<div class="movie-container">
    <!-- <label>Pick a movie: </label> -->
    <select id="movie" #movieSelect>
        
      </select>
      
    
    <ul class="showcase">
      <li>
        <div class="seat"></div>
        <small>Available</small>
      </li>
      <li>
        <div class="seat selected"></div>   
        <small>Selected</small>
      </li>
      <li>
        <div class="seat occupied"></div>
        <small>Occupied</small>
      </li>    
    </ul>

    

    <div class="container">
      <div *ngFor="let i of StempRow"  class="row">
        <div *ngFor="let j of getColumns(); " class="seat" 
             [ngClass]="{'occupied': isSeatOccupied(i, j)}" 
             [attr.id]="getSeatId(i,j)">
             {{getSeatId(i,j)}}

        </div>
      </div>

      <div class="line"></div>  

        <div *ngIf="isBalconyAvailable" class="balcony">
          <div *ngFor="let rowIndex of getBalconyRows(); let i = index" class="row">
            <div *ngFor="let colIndex of getBalconyColumns(); let j = index" class="seat balcony" 
                 [ngClass]="{'occupied': isSeatOccupiedBalcony(i, j)}" 
                 [attr.id]="getSeatIdBalcony(i, j)">
                 {{j+1}}
            </div> 
          </div> 
          <br><br><br>
        <!-- </div>
        <div class="screen"></div>
    <button class="btn btn-outline-success"></button>


      <!-- <div class="row">
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
        </div>
        <div class="row">
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat occupied"></div>
          <div class="seat occupied"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
        </div>
        <div class="row">
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat occupied"></div>
          <div class="seat occupied"></div>
        </div>
        <div class="row">
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
        </div>
        <div class="row">
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat occupied"></div>
          <div class="seat occupied"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
        </div>
        <div class="row">
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat occupied"></div>
          <div class="seat occupied"></div>
          <div class="seat occupied"></div>
          <div class="seat"></div> -->
      
          <!-- Add #count and #total to the spans -->
<p class="text">
    You have selected <span #count id="count">0</span> seats for the total price of Rs.
    <span #total id="total">0</span>
  </p>
  
          
          
    
    </div>
    
  </div>
  