<div class="row ">
    <div class="card w-100">
        <div class="card-body d-flex">
            <div class="tname">
              <p style="font-weight: bold;">{{Theater_details.tname}}</p>
              <p>Location: {{Theater_details.tlocation}}</p>
            </div>

            <!-- <p>{{Theater_details.tdetails.timings}}</p> -->
            <div *ngFor="let item of Theater_details.tdetails.timings" >

                <button type="button" class="btn btn-outline-success">{{item}}</button>

            </div>

        </div>
    </div>
    <!-- <p>{{Theater_details.tMovies.screen1[0]}}</p> -->
</div>
