<div class="row">
    <div class="col-6 m-auto">
  <div
    class="card m-auto"
    style="width: 22rem; box-shadow: 3px 2px 3px 2px #888888"
  >
    <div class="card-body">
      <h5 class="card-title">Login</h5>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-12">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email">
            <span *ngIf="!email.valid && (isSubmitted || email.touched)" class="error-block">
              <span *ngIf="email.hasError('required')">
                Please Provide email id
              </span>
              <span *ngIf="email.hasError('email')">
                Please Provide valid email id
              </span>
          </span>
        </div>

        <br />
        <div class="form-group col-12">
            <label for="passwrod" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password">
            <span *ngIf="!password.valid && (isSubmitted || password.touched)" class="error-block">
              <span *ngIf="password.hasError('required')">
                Please Provide password
              </span>
              <span *ngIf="password.hasError('minlength')">
                Password must contain alteast 8 charecters
              </span>
          </span>

            </div>
        <a
          href="#"
          style="
            text-decoration: none;
            padding: 12px;
            display: flex;
            justify-content: left;
          "
        >
          Forgot Password?
        </a>
        <div>
          <button
            type="submit"
            class="btn btn-danger btn-block"
            style="font-weight: bold; width: 100%"
          >
            Submit
          </button>
        </div>
      </form>
    </div>

    <div style="padding: 10px; display: flex; justify-content: center">
      <small>Don't have an account? &nbsp;</small>
      <a
      routerLinkActive="active" routerLink="/register"
        style="text-decoration: none; font-weight: bold; color: orange"
      >
        SignUP
      </a>
    </div>
  </div>
  </div>
</div>
